h1 {
  color: brown;
}

.App {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.red-title {
  background-color: red;
  color: black;
}

.blue-title {
  background-color: blue;
  color: black;
}
