.LogoAT {
  height: 35vh;
  gap: 2px;
}

.LogoVL {
  height: 35vh;
  gap: 2px;
}

.images {
  display: flex;
  gap: 10vh;
}

.App {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
